<div class="row">
        <mat-tab-group mat-align-tabs="center">
      
          <mat-tab label="Registro">
            <div class="col s12 m12 l6 offset-l3">
              <div class="card">
                <div class="card-action white-text" id="card_back">
                  <span class="card-title"><b>Facturas pendientes</b></span>
                </div>
                <form #invoiceForm="ngForm" (ngSubmit)="addInvoice(invoiceForm)">
                  <div class="card-content">
                    <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="invoiceService.selectedInvoice._id">
                    <div class="row">
                      <div class="input-field col s12">
                        <input type="text" name="title" #title="ngModel" [(ngModel)]="invoiceService.selectedInvoice.title"
                          placeholder="Ingrese título">
                      </div>
                      <div class="input-field col s12">
                        <textarea name="description" #description="ngModel" [(ngModel)]="invoiceService.selectedInvoice.description"
                          class="materialize-textarea" placeholder="Escriba una descripcion"></textarea>
                      </div>
                      <div class="input-field col s12">
                        <input type="date" name="date" #date="ngModel" [(ngModel)]="invoiceService.selectedInvoice.date"
                          placeholder="Ingrese fecha">
                      </div>
                    </div>
                  </div>
                  <div class="card-action">
                    <button mat-raised-button color="accent" class="btn">
                      Save
                    </button>
                    <button mat-raised-button color="warn" class="btn right" (click)="resetForm(invoiceForm)">
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </mat-tab>
      
          <mat-tab label="Lista">
            <div class="col s12 m12 l12 xl12">
              <ng-template [ngIf]="invoiceService.invoices.length > 0">
                <table class="card responsive-table">
                  <thead>
                    <tr>
                      <th>Título</th>
                      <th>Descripción</th>
                      <th>Fecha</th>
                      <th>Operaciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let invoice of invoiceService.invoices | paginate: {itemsPerPage: 5, currentPage: p}">
                      <td>{{ invoice.title }}</td>
                      <td>{{ invoice.description }}</td>
                      <td>{{ invoice.date}}</td>
                      <td>
                        <a (click)="editInvoice(invoice)">
                          <i id="icon-cursor" class="material-icons">edit</i>
                        </a>
                        <a (click)="deleteInvoice(invoice._id)">
                          <i id="icon-cursor" class="material-icons">delete</i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls class="my-pagination mat-body-1" (pageChange)="p = $event"></pagination-controls>
              </ng-template>
              <p class="info-text mat-body-1" *ngIf="invoiceService.invoices.length <= 0">No invoices added yet!</p>
            </div>
          </mat-tab>
      
        </mat-tab-group>
      </div>
