<div class="row valign-wrapper">
  <div class="col s12 m12 l6 offset-l3 valign">
    <div class="card">
      <div class="card-action white-text" id="card_back">
        <span class="card-title">Sign Up</span>
      </div>
      <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
        <div class="card-content">
          <input type="text" name="fullname" #fullname="ngModel" [(ngModel)]="userService.selectedUser.fullname" 
            placeholder="Full Name" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !fullname.valid }">
          <div *ngIf="signUpForm.submitted && !fullname.valid">
            <label class="validation-message">This field is required.</label>
          </div>

          <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email"
            placeholder="Email" required [pattern]="emailRegex"
            [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
          <div *ngIf="signUpForm.submitted && email.errors">
            <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
          </div>

          <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
            placeholder="Password" minlength="4" required
            [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
          <div *ngIf="signUpForm.submitted && password.errors">
            <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
            <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
          </div>
        </div>

        <div class="card-action">
          <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </div>
      </form>

      <!-- Success message -->
      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>

      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>

    </div>
  </div>
</div>