<div class="row">
  <div class="col s12 m12 l4">
    <div class="card">
      <form #editProfileForm="ngForm" (ngSubmit)="addUser(editProfileForm)">
        <div class="card-content">
          <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
          <div class="row">
            <div class="input-field col s12">
              <input type="text" name="fullname" #fullname="ngModel" placeholder="Enter fullname"
                [(ngModel)]="userService.selectedUser.fullname">
            </div>
            <div class="input-field col s12">
              <input type="text" name="email" #email="ngModel" placeholder="Enter email"
                [(ngModel)]="userService.selectedUser.email">
            </div>
            <div class="input-field col s12">
              <input type="password" name="password" #password="ngModel" placeholder="Enter password"
                [(ngModel)]="userService.selectedUser.password">
            </div>

            <label>Avatar</label>
            <select class="browser-default" name="avatar" #avatar="ngModel"
              [(ngModel)]="userService.selectedUser.avatar">
              <option value="" disabled selected>Elige tu avatar</option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098858/avatars/girl_k71qcc.png">A
                Una linda chica
              </option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098856/avatars/woman_vn0fzi.png">
                Una mujer con un hermoso peinado
              </option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098847/avatars/boy_ayc1od.png">
                Un chico amable y gentil
              </option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098855/avatars/girl2_v7msds.png">
                Una adorable mujer descente
              </option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098855/avatars/girl3_wwefqz.png">
                Una hermosa chica pelirroja
              </option>
              <option value="https://res.cloudinary.com/drv584gsz/image/upload/v1564098856/avatars/man_dch1vi.png">
                Un chico con barba
              </option>
            </select>
            <p>You selected:</p>
            <img src="{{ userService.selectedUser.avatar }}" class="center" style="width: 120px; height: 120px;">
          </div>
        </div>
        <div class="card-action">
          <button mat-raised-button color="accent" class="btn">Update</button>
          <button mat-raised-button color="warn" class="btn right" (click)="resetForm(editProfileForm)">Cancel</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col s12 m12 l8">
    <table class="card responsive-table">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Email</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userService.users">
          <td>{{ user.fullname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a (click)="editUser(user)"><i id="icon-cursor" class="material-icons">edit</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>