/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
    margin: 15px;
}

table th {
    background-color: #706fd3;
    text-align: center;
    color: white;
}

table td {
    text-align: center;
}

#card_back {
    background: #706fd3;
}

#icon-cursor {
    cursor: pointer;
}

.info-text {
    text-align: center;
}

/* Filter controls */

.search-div {
    margin-top: 1rem;
}

.search-form-field {
    width: 100%;
}

.my-pagination .ngx-pagination .current {
    background: #706fd3;
    /* 673ab7 */
}

/* Center image default */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}