<div class="row">
  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="Registro" *ngIf="step === 1" (opened)="setStep(1)">
      <div class="col s12 m12 l6 offset-l3">
        <div class="card">
          <div class="card-action white-text" id="card_back">
            <span class="card-title"><b>Gastos Internos</b></span>
          </div>
          <form #internalForm="ngForm" (ngSubmit)="addInternal(internalForm); prevStep()">
            <div class="card-content">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="internalService.selectedInternal._id">
              <div class="row">
                <label>Tipo de gasto</label>
                <select class="browser-default" name="type" #type="ngModel"
                  [(ngModel)]="internalService.selectedInternal.type" required>
                  <option value="" disabled selected>Elige una opción</option>
                  <option value="Aumento de salario">Aumento de salario</option>
                  <option value="Gas">Gas</option>
                  <option value="Agua">Agua</option>
                  <option value="Internet">Internet</option>
                  <option value="Comida">Comida</option>
                </select>
                <div class="input-field col s12">
                  <input type="text" name="responsible" #responsible="ngModel"
                    [(ngModel)]="internalService.selectedInternal.responsible" placeholder="Ingrese responsable"
                    required>
                </div>
                <div class="input-field col s12">
                  <input type="number" name="amount" #amount="ngModel"
                    [(ngModel)]="internalService.selectedInternal.amount" placeholder="Ingrese monto" required>
                </div>
                <div class="input-field col s12">
                  <textarea name="reason" #reason="ngModel" [(ngModel)]="internalService.selectedInternal.reason"
                    cols="30" rows="20" class="materialize-textarea" placeholder="Escriba el motivo"
                    required></textarea>
                </div>
              </div>
            </div>
            <div class="card-action">
              <button mat-raised-button color="accent" class="btn" [disabled]="!internalForm.valid">
                Save
              </button>
              <button mat-raised-button color="warn" type="button" class="btn right"
                (click)="resetForm(internalForm); prevStep()">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Lista" *ngIf="step === 0" (opened)="setStep(0)">
      <div class="col s12 m12 l12 xl12">
        <ng-template [ngIf]="internalService.allInternal.length > 0">
          <div class="search-div">
            <button mat-raised-button color="primary" (click)="nextStep()">
              <mat-icon>add</mat-icon>
              Nuevo
            </button>
            <div class="search-form-field">
              <input type="text" name="filterInternal" placeholder="Buscar..." [(ngModel)]="filterInternal">
            </div>
          </div>

          <table class="card responsive-table">
            <thead>
              <tr>
                <th>Tipo de gasto</th>
                <th>Responsable</th>
                <th>Monto</th>
                <th>Operations</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let internal of internalService.allInternal | filterInternal:filterInternal
                | paginate: {itemsPerPage: 5, currentPage: p}">
                <td>{{ internal.type }}</td>
                <td>{{ internal.responsible }}</td>
                <td>{{ internal.amount | currency}}</td>
                <td>
                  <a (click)="editInternal(internal); nextStep()">
                    <i id="icon-cursor" class="material-icons">edit</i>
                  </a>
                  <a (click)="deleteInternal(internal._id)">
                    <i id="icon-cursor" class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
            <p class="info-text mat-body-1"><b>Total:</b> {{ getTotalAmount() | currency }}</p>
          </table>
          <pagination-controls class="my-pagination mat-body-1" (pageChange)="p = $event"></pagination-controls>
        </ng-template>

        <ng-template [ngIf]="internalService.allInternal.length <= 0">
          <p class="info-text mat-body-1">No hay Gastos agregados todavía!</p>
          <button mat-raised-button color="primary" (click)="nextStep()">Crear nuevo gasto</button>
        </ng-template>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>